#header {
    position: absolute;
    z-index: 100;
}

.card-text {
    color: rgb(133, 133, 133);
}
.card-text:hover {
    color: red;
    cursor: pointer;
}

.card {
    box-shadow: 0px 0px 10px 2px rgb(206, 206, 206);
    border-radius: 0;
}

#centro_de_formacion {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black), url(../img/organizacion-cft.jpg);
}

#instituto_profesional {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black), url(../img/organizacion-ip.jpg);
}

#universidad_tecnologica {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black), url(../img/organizacion-univ.jpg);
}

#universidad_tecnologica, #instituto_profesional, #centro_de_formacion {
    height: 250px;
    width: 450px;
    padding: 100px;
    margin: 50px;
    color: #fff;
    background-size: cover;
}

.pointer:hover {
    cursor: pointer;
}

#agenda_eventos {
    columns: 1fr 2fr;
}

#agenda_dates .col{
    box-shadow: 1px 1px;
}

.grey-container {
    background-color: #f0f0f0;
}
