.card-text {
    color: rgb(133, 133, 133);
}
.card-text:hover {
    color: red;
}

#centro_de_formacion {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black), url(../img/organizacion-cft.jpg);
}

#instituto_profesional {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black), url(../img/organizacion-ip.jpg);
}

#universidad_tecnologica {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), black), url(../img/organizacion-univ.jpg);
}

#universidad_tecnologica, #instituto_profesional, #centro_de_formacion {
    height: 250px;
    width: 450px;
    padding: 100px;
    margin: 50px;
    color: #fff;
    background-size: cover;
}

#agenda_eventos {
    columns: 1fr 2fr;
}

#agenda_dates .col{
    box-shadow: 1px 1px;
}
